.content {
    grid-area: content;
    background-color: #9370DB;
}

.user__profile {
    display: flex;
    justify-content: space-between;
}
.profile__img {
    flex-basis: 50%;
}
.profile__img img {
    width: 50%;
}

.profile__info{
    flex-basis: 50%;
}
