.nav {
    margin: 20px 5px;
    grid-area: nav;
    background-color: #edeef0
}

.item {
    color: #03031a;
    margin: 10px;
    padding: 10px;
 }
.item a {
    color: #000000;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

.item:hover {
    background-color: rgba(219, 220, 232, 0.85);
    border-radius: 4px;
}

.item a.active__link {
    color: #2a5885;
}

