.user_info {
    display: flex;
    justify-content: space-between;
}

.avatar {
    width: 290px;
    height: 350px;
    margin: 25px 25px 0 0;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar span {
    font-size: 18px;
}

.avatar button {
    width: 100%;
    background: #e5ebf1;
    color: #4c5053;
    margin-top: 10px;
}
.avatar button:hover {
    color: #63686c;
}

.profile__img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
}

.user_about {
    flex-grow: 2;
    margin-top: 25px;
    padding: 30px 10px 20px 40px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page_top {
    height: 85px;
}
.fullName {
    font-size: 30px;
}

.no_status {
    color: #63686c;
}

.user_information {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
}

.status {
    margin-top: 12px;
}

.status input{
    width: 80%;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    outline: none;
}