.item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 25px;
    padding: 15px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    flex-shrink: 0;
    align-self: flex-start;
}
.message {
    flex-shrink: 1;
    margin: 0 30px;
    line-height: 22px;
}
.likes {
    flex-shrink: 0
}