body {
  background-color: #edeef0
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  'nav content';
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
}

.app-wrapper-content {
  grid-area: content;
  margin-left: 10px;
  margin-right: 20px;
}

button {

  appearance: none;
  border-radius: 5px;
  background: rgba(18, 55, 128, 0.6);
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


button:hover {
  cursor: pointer;
  background: rgba(9, 41, 106, 0.6)
}
